@import "reset"

body
  margin-top 50px

h1
  font-weight bold
  font-size 20px
  font-family helvetica
  color #a0a0a0
  margin 5px 0

.wrapper
  width 800px
  margin 0 auto

.content
  border-top 1px solid #c0c0c0

  & > *
    float left

  canvas
    margin-top 10px

  .vr
    border-left 1px solid #c0c0c0
    height 500px
    margin 0 24px
